{% load wagtailcore_tags wagtailimages_tags static %}


<div class="nblock width{{value.rules.width}} height{{value.rules.width}} background{{value.rules.background}}">


{% if item.specific.image and value.rules.background == "2" %}
    {% include "image.html" with width=value.rules.width height=value.rules.height img=item.specific.image %}
{% endif %}

<div class="blocktext">
    <h3>{{ item }}</h3>
{% if value.rules.width == 1 and value.rules.height == 1 %} 
{{ item.specific.teaser|truncatewords:25 }}
{%else%}
{{ item.specific.teaser }}
{% endif %}

</div>

<a class="plus" href="{{ item.url }}"><img src="{% static "img/plus.svg" %}"/></a>

</div>
