{% load wagtailcore_tags wagtailimages_tags static %}

<div class="nblock width{{value.width}} height{{value.height}} background{{value.background}}">

{% if value.image  %}
    {% include "image.html" with width=value.width height=value.height img=value.image %}
{% endif %}

<div class="blocktext">
    <h3>{{ value.heading }}</h3>
    {{ value.text }}
</div>

{% if value.link %}
    <a class="plus" href="{{ value.link.url }}"><img src="{% static "img/plus.svg" %}"/></a>
{% endif %}

</div>
