{% load wagtailcore_tags wagtailimages_tags static %}


<div class="nblock width{{value.css_rules.width}} height{{value.css_rules.height}} background{{value.css_rules.background}}">

{% if value.sum_page.specific.image and value.css_rules.background == "2" %}
    {% include "image.html" with width=value.css_rules.width height=value.css_rules.height img=value.sum_page.specific.image %}
{% endif %}


<div class="blocktext">
    <h3>{{ value.sum_page }}</h3>
    {{ value.sum_page.specific.teaser }}
</div>

<a class="plus" href="{{ value.sum_page.url }}"><img src="{% static "img/plus.svg" %}"/></a>

</div>
