{% load wagtailcore_tags wagtailimages_tags %}

{% image img  fill-1120x500-c50 as img3 %}
{% image img  fill-740x500-c75 as img2 %}
{% image img fill-360x240-c100 as img1 %}

{% if height == '1'   %}
    <img class="background_image" src={{img1.url}} alt={{img1.alt}} />
{% elif width == '3'   %}
    <img class="background_image" src={{img3.url}} srcset="{{img1.url}} 739w, {{img2.url}} 1139w, {{img3.url}} 6000w"  alt={{img1.alt}} name="aha" />
{% elif width == '2' %}
    <img class="background_image" src={{img2.url}} srcset="{{img1.url}} 739w, {{img2.url}} 1139w"  alt={{img1.alt}} />
{% else %}
    <img class="background_image" src={{img1.url}} alt={{img1.alt}} />
{% endif %}
