{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static%}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{% endblock extra_css %}

{% block content %}
{% if page.image %}
<div class="content-page-image width3 height2">
{% include "image.html" with width="3" height="2" img=page.image %}
</div>
{% endif %}
<div class="block-box1_title width1">
<h3>{{ page.title }}</h3>
</div>

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{% for block in page.body %}
    {% include_block block %}  {# This block will output its own wrapper markup. #}
{% endfor %}
<hr class="end-of-contentarea">
{% endblock content %}

