{% extends "home/home_page.html" %}
{% load static wagtailuserbar i18n wagtailcore_tags %}

{% block after_footer %}
<div class="nblock width1 background1" style="height:70px">

</div>

<div class="credits_logo_block width1 height1 background0">
supportet by<br>
    <img src= {% static "img/tu_daad_logo.svg" %}>
</div>


{% endblock %}

