{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{% endblock extra_css %}

{% block content %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}

{% for block in page.body %}
    {{ block.block.debug }}
    {% include_block block %}  {# This block will output its own wrapper markup. #}
{% endfor %}

{% endblock content %}
{% block extra_js %}
    <script type="text/javascript" src="{% static  'js/svg-pan-zoom.min.js' %}"></script>
    <script type="text/javascript" src="{% static  'js/zvg_zoom2.js' %}"></script>
{% endblock %}

