/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url("../fonts/roboto-v20-latin-regular.479970ffb74f.woff2") format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/roboto-v20-latin-regular.60fa3c0614b8.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url("../fonts/roboto-v20-latin-500.020c97dc8e04.woff2") format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/roboto-v20-latin-500.87284894879f.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url("../fonts/roboto-v20-latin-700.2735a3a69b50.woff2") format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/roboto-v20-latin-700.adcde98f1d58.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
