/* ganz allgemeinene regeln */
html {
    box-sizing: border-box;
}

body{
    overflow-x:hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin:0px;
    padding:0px;
}

input{
    border-radius: 0px;
    height:30px;
    border-style:solid;
    
}

input[type="image"]:active{
    border:solid 1px #ff6600ff;
}

a:hover{
    color: #ff6600ff;
}

a:active{
    color: #ff1100ff;
}


a{
    color: white;
}

p, h3{
    margin: 0 0 20px 0;
}

li{
    list-style-type: none;
}


/* allgemeine Klassen */


.hidden{
    display:hidden;
}

.button-field{
    display:flex;
}

.background0{
    color: black;
}

.background1{
    background-color: grey;
}

.width1{
    width:360px;
    grid-column: auto /span 1;
}

.height1{
    grid-row: auto /span 1;
    height:240px;
}

.nblock{
    padding: 20px;
    position:relative;
    color: white;
}

.nblock .background_image{
    position:absolute;
    top: 0px;
    left: 0px;
    z-index:-1;
    width:100%;
}

/* possible deprected */ 
[class*='block-box'] {
    padding: 20px;
    height:240px;
    /*background-color: #265380;*/
    background-color: grey;
    color: white;
}
/* deprected end */ 



/* Header Area */


/* Flash Messages  */

.messagelist{
    position:absolute;
    background: #003366ff;
    color:white;
    font-size:150%;    
    min-height: 70px;
    top:0px;
    outline: 10px solid white;
    margin:0px;
    padding:20px;
    list-style:none;
    z-index:999;
}

/* Logo */

.block-box1-logo{
    width:360px;
    background:#ff6600ff;
    padding:0px;
    grid-column-start:1; 
}
.block-box1-logo img{
    padding:20px 20px 0px 17px;
    height:165px;
}

.block-box1-logo .naerus_logo_small{
    width:360px;
    background:black;
    padding-left:0px;
    height: 70px;
    display:block;
    z-index:500;
}

.block-box1-logo .naerus_logo_small img{
    padding:15px 20px;
    height: auto;
}


.block-box2-nav .naerus_logo_small{
    width:200px;
    float:left;
    padding:20px
}



/* main menu */

.navbar-nav{
    padding-top:20px;;
    font-weight: 700;
    margin:0px;
    margin-top:18px;
    background: black;
    height:70px;
    width:740px;
    z-index:600; 
}
.navbar-nav li{
    display: block;
    height:70px;
    float:left;
}
.navbar-nav .nav-link{
    padding-left:12px;
    text-decoration:none;
}
.navbar-nav .dropdown, .navbar-nav .dropdown2{
    display:none; 
    left:0;
    position:absolute;
    outline: solid white 9px;
    margin: 34px 0px; 
    background:black; 
    padding:5px;
    padding-top:20px;
    height: 70px;
    width:100%;
    z-index:500; 
}
.navbar-nav li:hover .dropdown{
    display:block;
    z-index:500; 
}
.navbar-nav .dropdown li:hover .dropdown2{
    display:block;
    z-index:500; 
}


#navbar-nav a:focus + .dropdown{
    display:block; 
}


.languages{
    padding-top:7px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right:13px;
}

.search-area{
    padding-right:10px;
    height:120px; 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}


.sticky {
  position: fixed;
  top: 0;
  margin: 0;
  display:block;
  outline: solid white 9px;
}

.naerus_logo_small.sticky{
    background:#ff6600ff;
}


/* Footer Area */



.block-box2-footer{
    grid-column: 2;
    align-self: end;
    padding: 0px;
    background:#ff6600ff;
}

.footer-links{
    padding: 20px;
    line-height:150%;
    list-style:none;
    float:right;
    background:black;
    height:240px;
    font-weight: bold;
}

.subscribe_box{
    grid-column-start:1; 
    align-self: end;
    display:flex;
    justify-content: center;
    align-items: center;
} 
.subscribe_box .subscribe{
}

/* Content Area */

/* TODO: check for possible deprecations */
/* TODO: check for unused code */
/* TODO: check for rules for other aeras */

.nblock .plus{
    display:block;
    height: 32px;
    position:absolute;
    right:0px;
    bottom:0px;
}


.block-box2-nav{
	padding:0px;
    position: relative;
	background:#ff6600ff;
}

.block-box360{
    font-weight:bold;
    width:360px;
}

.block-image img{
    object-fit: cover;
    width: 360px;
    height:240px;
}



/* media queries */

@media (min-width: 1140px) {
    body{
        display: grid;
        grid-template-columns:360px 360px minmax(0px, 360px);
        grid-gap: 20px;
        font-family:Roboto;
        font-size: 1.25em;
        width: 1160px;
        margin: 0 auto;
    }

    .width2{
        grid-column: auto /span 2;
        width:740px;
    }

    .height2{
        height:500px;
        grid-row: auto /span 2;
    }

    .width3{
        grid-column: auto /span 3;
        width:1120px;
    }

    
    [class*='block-box2']{
        grid-column: auto /span 2;
        width:740px;
    }

    [class*='block-w2'] {
        width:740px;
        grid-column: auto /span 2;    
    }

    [class*='block-w3'] {
        width:1120px;
        grid-column: auto /span 3;    
    }

    .block-box2-nav .naerus_logo_small{
        display:none;
    }
    .block-box1-logo{
        display:block;
    }
}

@media (max-width: 1139px) {
    body{
        display:grid;
        grid-template-columns:360px minmax(0px, 360px);
        grid-gap: 20px;
        font-family:Roboto;
        font-size: 1.25em;
        width: 740px;
        margin: 0 auto;
    }
    
    .width3, .width2{
        grid-column: auto /span 2;
        width:740px;
    }
    
    .height3, .height2{
        grid-row: auto /span 2;
        height:500px;
    }

    
    [class*='block-box2']{
        grid-column: auto /span 2;
        width:740px;
    }

    [class*='block-w2'] {
        width:740px;
        grid-column: auto /span 2;    
    }
    
    .block-box1-logo{
        display:none;
    }
    
    .block-box2-nav{
        background:#ff6600ff;
    }

}

@media (max-width: 739px) {
    body{
        display:grid;
        grid-template-columns:360px;
        grid-gap: 20px;
        font-family:Roboto;
        font-size: 1.25em;
        width: 360px;
        margin: 0 auto;
    }

    .width3, .width2, .width1{
        grid-column: auto /span 1;
        width:360px;
    }

    .height3, .height2, .height1{
        grid-row: auto /span 1;
        height:240px;
    }

    [class*='block-box2']{
        grid-column: auto /span 1;
        width:360px;
    }
    [class*='block-w2'] {
        width:360px;
        grid-column: auto /span 1;    
    }
    .block-box1-logo{
        display:none;
    }
    .block-box2-nav{
        background:#ff6600ff;
    }
    .navbar-nav{
        width:360px;
    }

}
