html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin:0px;
    padding:0px;
}

[class*='block-box'] {
    padding: 20px;
    height:240px;
    /*background-color: #265380;*/
    background-color: grey;
    color: white;
}

a:hover{
    color: #ff6600ff;
}
a{
    color: white;
}

p, h3{
    margin: 0 0 20px 0;
}
.messagelist{
    position:absolute;
    background: #003366ff;
    color:white;
    font-size:150%;    
    min-height: 70px;
    top:0px;
    outline: 10px solid white;
    margin:0px;
    padding:20px;
    list-style:none;
    z-index:999;
}

.hidden{
	display:hidden;
}

.block-box1-logo{
	width:360px;
	background:#ff6600ff;
	padding:0px;
}
.block-box1-logo img{
	padding:20px 30px;
    height:165px;
}
.block-box1-logo .naerus_logo_small img{
	padding:15px 20px;
    height: auto;
}

.block-box2-nav .naerus_logo_small{
    width:200px;
    float:left;
    padding:20px
}
.block-box1-logo .naerus_logo_small{
    width:360px;
	background:black;
	padding-left:0px;
	height: 70px;
	display:block;
}

.block-box2-nav{
	padding:0px;
    position: relative;
	background:#ff6600ff;
}

.languages{
    padding-top:7px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right:13px;
}

.search-area{
    padding-right:10px;
    height:100px; 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


.navbar-nav{
    padding-top:20px;;
    font-weight: 700;
    margin:0px;
    margin-top:38px;
    background: black;
    height:70px;
    width:740px;
    z-index:600; 
}
.navbar-nav li{
    display: block;
    height:70px;
    float:left;
}
.navbar-nav .nav-link{
    padding-left:12px;
    text-decoration:none;
}
.navbar-nav .dropdown, .navbar-nav .dropdown2{
    display:none; 
    left:0;
    position:absolute;
    outline: solid white 9px;
    margin: 34px 0px; 
    background:black; 
    padding:5px;
    padding-top:20px;
    height: 70px;
    width:100%;
    z-index:500; 
}
.navbar-nav li:hover .dropdown{
    display:block;
    z-index:500; 
}
.navbar-nav .dropdown li:hover .dropdown2{
    display:block;
    z-index:500; 
}


#navbar-nav a:focus + .dropdown{
    display:block; 
}

.block-box360{
    font-weight:bold;
    width:360px;
}

.block-image img{
    object-fit: cover;
    width: 360px;
    height:240px;
}

.block-box1-subscribe{
    align-self: end;
    grid-column: 1;
}

.block-box2-footer{
    grid-column: 2;
    align-self: end;
    padding: 0px;
    background:#ff6600ff;
}
.footer-links{
    padding: 20px;
    line-height:150%;
    list-style:none;
    float:right;
    background:black;
    height:240px;
    font-weight: bold;
}

.sticky {
  position: fixed;
  top: 0;
  margin: 0;
  display:block;
  outline: solid white 9px;
}

.naerus_logo_small.sticky{
    background:#ff6600ff;
}

@media (min-width: 1160px) {
    body{
        display: grid;
        grid-template-columns:360px 360px minmax(0px, 360px);
        grid-gap: 20px;
        font-family:Roboto;
        font-size: 1.25em;
        width: 1160px;
        margin: 0 auto;
    }

    [class*='block-box2']{
        grid-column: auto /span 2;
        width:740px;
    }

    [class*='block-w2'] {
        width:740px;
        grid-column: auto /span 2;    
    }

    [class*='block-w3'] {
        width:1120px;
        grid-column: auto /span 3;    
    }

    .block-box2-nav .naerus_logo_small{
        display:none;
    }
    .block-box1-logo{
        display:block;
    }
}

@media (max-width: 1159px) {
    body{
        display:grid;
        grid-template-columns:360px minmax(0px, 360px);
        grid-gap: 20px;
        font-family:Roboto;
        font-size: 1.25em;
        width: 740px;
        margin: 0 auto;
    }
    [class*='block-box2']{
        grid-column: auto /span 2;
        width:740px;
    }

    [class*='block-w2'] {
        width:740px;
        grid-column: auto /span 2;    
    }
    
    .block-box1-logo{
        display:none;
    }
    
    .block-box2-nav{
        background:#ff6600ff;
    }

}

@media (max-width: 759px) {
    body{
        display:grid;
        grid-template-columns:360px;
        grid-gap: 20px;
        font-family:Roboto;
        font-size: 1.25em;
        width: 360px;
        margin: 0 auto;
    }
    
    [class*='block-box2']{
        grid-column: auto /span 1;
        width:360px;
    }
    [class*='block-w2'] {
        width:360px;
        grid-column: auto /span 1;    
    }
    .block-box1-logo{
        display:none;
    }
    .block-box2-nav{
        background:#ff6600ff;
    }
    .navbar-nav{
        width:360px;
    }

}
