{% load static wagtailuserbar i18n wagtailcore_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta property="og:title" content="N-AERUS: {{ self.title }}">
        <meta property="twitter:title" content="N-AERUS: {{ self.title }}">
        <meta name="description" content="N-AERUS is a pluridisciplinary network of researchers and experts working on urban issues in Developing countries" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:image" content="https://n-aerus.net/media/images/DSCN1967_Manila.2e16d0ba.fill-1120x500-c50.jpg" />
        <meta property="twitter:image" content="https://n-aerus.net/media/images/DSCN1967_Manila.2e16d0ba.fill-1120x500-c50.jpg" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/naerus_site.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}" lang="en" >


    {% block messages %}
        {% if messages %}
        <ul class="messagelist">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endblock messages %}


 <!-- Header Area-->
 
        <div class="block-box1-logo">
            <img src= {% static "img/naerus_logo.svg" %}>
            <div id="the_small_logo" class="naerus_logo_small">
            <a href="/">
                    <img src= {% static "img/new_logo_small.svg" %}>
            </a>
            </div>
        </div>
        
        <div class="block-box2-nav">
        <div class="flexrow row1">
        
            <div class="naerus_logo_small">
            <a href="/">
                <img src= {% static "img/new_logo_small.svg" %}>
            </a>
            </div>
            {% include "languages-menu.html" %}
        </div>
       <div class="search-area flexrow">
        <!-- <div class="page_title"><h3>{{ page.title }}</h3></div>-->
        {% include "breadcrump.html" %}    
            <div class="search-form">
            <form action="{% url 'search' %}" method="get">
                <input type="hidden" name="next" value="{{ request.path }}">     
                <div class="button-field">       
                    <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}><br>
                    <input type="image" id="image" alt="Subscribe" src="{% static 'img/search.svg' %}">
                </div>
            </form>
            </div>
        </div>
 
        {% include "main-menu.html" %}
        
        
        </div>    
<!-- End Header-->

        {% block content %}{% endblock %}
            <div class="subscribe_box nblock width1 height1 background1" >
                {% include "subscribe_element.html" %}
            </div>
            <div class="block-box2-footer">
                <ul class="footer-links">
                {% load mytags %}
                    {% footer_menu as footer%}
                        {% for subpage in footer %}
                            <li><a href="{{subpage.url}}"> {{subpage.title}}</a></li>  
                        {% endfor %}
                    <li><a href="/admin">Administrate</a></li>  
                </ul>
            </div>
        {% block after_footer %}
        {% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/naerus_site.js' %}"></script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    {% wagtailuserbar %}

    </body>
</html>
