{% load i18n wagtailcore_tags %}
{%get_current_language as current_lc%}
{% get_available_languages as LANGUAGES %}
<div class="languages">
    {% for language_code, language_name in LANGUAGES %}
        {% if language_code == current_lc %} <b> {%endif %}
        {% if language_code != "en" %}&nbsp;|&nbsp;{%endif %}
        {% language language_code %}
            {% if page != None %}
                <a href="{% pageurl page.localized %}" rel="alternate" hreflang="{{ language_code }}">{{language_code}}</a> 
            {%else%}
                <a href="#" rel="alternate" hreflang="{{ language_code }}">{{language_code}}</a> 
            {%endif%}
        {% endlanguage %}
        {% if language_code == current_lc %} </b> {%endif %}
    {% endfor %}
</div>          
