   {% load wagtailcore_tags static %}
   {% wagtail_site as current_site %}

    <div class="nav navbar-nav" id="the_main_menu">
    <input type="checkbox" id="burger_check" class="burger_check" style="display:none">
    <label for="burger_check" class="burger_menu">
        <img  src= {% static "img/burger_menu.svg" %}>
    </label>        
    <ul class="main_menu">
    {% for mainpage in current_site.root_page.localized.get_children.live.in_menu %}
        <li class="nav-item">
            <a class="nav-link {% if mainpage.slug in request.path %} active {% endif %} {% if mainpage.get_children.live.in_menu %}has_submenu{% endif%}" href="{{mainpage.specific.url}}">{{mainpage.title}}</a>
            {% include "popup.html" with mainpage=mainpage %}
        </li>
    {% endfor %}
    </ul>
    </div>