            {% if mainpage.get_children.live.in_menu %} 
            <input type="checkbox" id="menu_check_{{mainpage.slug}}" class="menu_check" style="display:none">
            <label for="menu_check_{{mainpage.slug}}" class="check_arrow">
            <span></span>
            </label>        
                <ul class="dropdown">
                {% for sub1_page in mainpage.get_children.live.in_menu %}
                    <li class="sub-item ">
                      <a class="nav-link {% if sub1_page.slug in request.path %} active {% endif %} {% if sub1_page.get_children.live.in_menu %}has_submenu{% endif%} " href="{{sub1_page.url}}">{{sub1_page.title}}</a>
                      {% if sub1_page.get_children.live.in_menu %} 
                        <input type="checkbox" id="submenu_check_{{sub1_page.slug}}" class="menu_check" style="display:none">
                        <label for="submenu_check_{{sub1_page.slug}}" class="check_arrow">
                        <span></span>
                        </label>        
                        <ul class="dropdown2">
                        {% for sub2_page in sub1_page.get_children.live.in_menu %}
                            <li class="sub-item">
                              <a class="nav-link {% if sub2_page.slug in request.path %} active {% endif %}" href="{{sub2_page.url}}">{{sub2_page.title}}</a>
                            </li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
