
/* overall size */
.tab-content{
    font-size: 90%;
    line-height: 90%;
    margin-left:0px;
}

/* removes bug */
.c-sf-container__block-container{
    margin-left: 50px;
}

/* rearrange input and label */  

.c-sf-block .field__label{
    min-width:150px 
}

.choice_field {
    min-width:70%;
}
.c-sf-container .choice_field .field-content{
    min-width:70%;
}

.choice_field select{
    padding:0.3em;
    min-width: 120px;
}
.choice_field .input select ~ span::after{
    line-height:1em;
}
.field{
    display:flex;
    margin-left:0;
}
.
widget-draftail_rich_text_area{
    display:block;
    width:100%;
}

/* rules for special classes */

/* class css_rules */

.css_rules_block .field{
    margin-right: 15px;
    float:left;
}
.css_rules_block .field label{
    min-width: auto;
    margin-right: 25px
    
}
.c-sf-container .css_rules_block .field + .field{
    padding-top:0px;
    margin-top:0px;
}


/* class short_dropdowns */

.short_dropdowns{
    float:left;
}
.short_dropdowns .field{
    float:left;
    margin-right: 50px;
    margin-bottom:10px;
}

.short_dropdowns .long_dropdown{
    margin-right: 50px;
}
.short_dropdowns .short_dropdown{
    margin-right: 30px;
    margin-left: 20px;
}

section + section .listing tr > td:first-child + td{
    visibility:hidden;
}
section + section .listing tr > td:first-child +td::before{
    content: "True";
    visibility:visible;
}

.listing td + td{
    display: hidden;
}


