{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}

<div class=block-box1_title>
    <h3>Search</h3>
</div>

<!--
    <form action="{% url 'search' %}" method="get">
        <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
        <input type="submit" value="Search" class="button">
    </form>
-->

    {% if search_results %}
            {% for result in search_results %}
                <div class="nblock background1 width1 height1">
                {% if result.specific.image %}
                    {% include "image.html" with width=1 height=1 img=result.specific.image %}
                {% endif %}

                    <div class="blocktext"> 
                        <h3><a href="{% pageurl result %}">{{ result }}</a></h3>
                        {% if result.teaser %}
                            {{ result.teaser|truncatewords:25}}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
 
        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
        No results found
    {% endif %}
{% endblock %}
