{% extends "birdsong/mail/base_email.html" %} 
{% load wagtailcore_tags %}

{% block email_head %}
<mj-style inline="inline">
    table {
        background: rgb(241, 248, 255);
        color: black;
    }
</mj-style>
{% endblock %}

{% block email_body %}
<!-- Not wanted by steering Comitee
<mj-section>
    <mj-column>
        <mj-text>Hi {{ contact.first_name }} {{ contact.last_name }}</mj-text>
    </mj-column>
</mj-section>
-->
{% for b in self.body %}
<mj-section>
    <mj-column> 
        {% include_block b %}
    </mj-column>
</mj-section>
{% endfor %}
<mj-section>
    <mj-column>
    <mj-text>
    Click <a href="http://{{site.hostname}}{% url 'birdsong:unsubscribe' contact.id %}">here</a> to unsubscribe.
    <a href="http://{{site.hostname}}/en/footer/imprint">Imprint</a> 
    </mj-text>
    </mj-column>
</mj-section>
{% endblock %}