{% extends "base.html" %} 
{% load wagtailcore_tags %}

{% block email_head %}
<style>
    table {
        background: rgb(241, 248, 255);
        color: black;
    }
<style>
{% endblock %}

{% block content %}
    <div>Hi {{ contact.first_name }} {{ contact.last_name }}</div>

    {% for b in self.body %}
        <div>
            {{ b.value | richtext}}
        </div>
    {% endfor %}
        <div>
        Click <a href="http://{{site.hostname}}:{{site.port}}{% url 'birdsong:unsubscribe' contact.id %}">here</a> to unsubscribe.
        <a href="http://{{ domain }}/en/imprint">Imprint</a> 
        </div>
{% endblock %}