<html>
<body>
Hello {{name}},<br>

Your Email got subscribed to the Naerus Newsletter.<br>


<br>
Click <a href="http://{{ domain }}{% url 'edit_subscriber' uid=uid token=token %}"> to verify your email ( you can provide additional data about yourself)</a> <br>
<br><br>
Click <a href="http://{{ domain }}{% url 'birdsong:unsubscribe' pk %}">here  to unsubscribe.</a> 

<br><br><a href="http://{{ domain }}/en/imprint">Imprint</a> 


</body
</html>
