{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="subscribe">
    <h3>Edit your Subscription</h3>
    <div id="add-form-div" >
        <form action="{% url 'edit_subscriber' uid token %}" method="POST" id="add-form">
            <div id="form-fields" class="wide aligned module">
                {% csrf_token %}
                {{ form.as_p }}
            <input type="submit" value="Save">
            </div>
        </form>
    </div>
</div>
{% endblock %}
