{% load static %}
<div class="subscribe">
    <h3>Join our<br> Newsletter now</h3>
    <div id="add-form-div" >
        <form action="{% url 'subscribe' %}" method="POST" id="add-form">
            <div id="form-fields" class="wide aligned module">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">     
                <div class="button-field">       
                <input type="email" name="email">
                <input type="image" id="image" alt="Subscribe" src="{% static 'img/mail.svg' %}">
                </div>
            </div>
        </form>
    </div>
</div>
