{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block page-title %}user - {{ user }} {% endblock %}
{% block content %}
{% include "subscribe_element.html" %}

<div>

<!-- Click <a href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}{% url 'birdsong:unsubscribe' 'e0a584dd-be2e-4b79-a808-e25ab0dfd614' %}">here</a> to unsubscribe.-->

</div>

{% endblock %}
